<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>888706754761-ur2a0ek5isrt4ogc05f5u303f2b9oplf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888706754761-ur2a0ek5isrt4ogc05f5u303f2b9oplf</string>
	<key>API_KEY</key>
	<string>AIzaSyAS22zfgvRE1PcYxxRpU0Udn4b5kJVJnkM</string>
	<key>GCM_SENDER_ID</key>
	<string>888706754761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lenskart.tfliteExample</string>
	<key>PROJECT_ID</key>
	<string>mltest-5bf82</string>
	<key>STORAGE_BUCKET</key>
	<string>mltest-5bf82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888706754761:ios:16a5d2fe59939d8c</string>
	<key>DATABASE_URL</key>
	<string>https://mltest-5bf82.firebaseio.com</string>
</dict>
</plist>